<template>
	<v-layout justify-center class="mt-2">
		<v-flex class="xs12 md8"> 
			
			<v-flex class="xs12 sm6 md7 my-2" >
				<h3> Catálogo de Escuelas</h3>
			</v-flex>

			<v-card>
				<v-card-actions>
					<v-text-field
						v-model="search"
						append-icon="search"
						label="Buscar Escuela"
						single-line
						hide-details
					></v-text-field>
					<v-spacer></v-spacer>
					<v-btn class="success" :to="{ name:''}">Nueva Escuela</v-btn>
				</v-card-actions>

				<v-data-table :headers="headers" :items="desserts" :search="search" hide-default-footer class="elevation-10" >
					<template v-slot:item.action="{ item }">
						<!-- <v-btn text color="blue darken-4" small @click="edit(item.nomdocente)"> detalle <v-icon right >visibility</v-icon> </v-btn>	 -->
						<v-icon  color="success" class="mr-2" @click="edit(item,'editar')" >edit </v-icon>
						<v-icon  color="error" class="mr-2" @click="edit(item,'documento')" >delete </v-icon>

					</template>
				</v-data-table>

			</v-card>
		</v-flex>
	</v-layout>
</template>

<script>
export default {
	data:()=>({
		search: '',

		headers: [
			{ text: 'Escuela', value: 'nombre' },
			{ text: 'Municipio', value: 'municipio' },

			{ text: '', value: 'action', sortable: false },

		],
		desserts: [
			{
				nombre: 'Escuela Primaria Cuauthemoc',
				municipio: 'Santa Catarina'
			},
			{
				nombre: 'Prof. Justo Diaz Abreg',
				municipio: 'García Nuevo Leon'
			},
			{
				nombre: 'Escuela Secundaria Tec. Porfirio Diaz',
				municipio: 'San Pedro'
			},
		
		],
	}),

	methods:{
		edit(item,modo){
			console.log(item, modo)
			// this.$route.push({ name: '' , params:{ id:id} })
		}
	}
}
</script>