<template>
  <v-container >
    <v-layout justify-center class="my-5">

      <v-snackbar v-model="snackbar" :timeout="3000" top :color="color" dark> {{text}}
        <v-btn color="white" text @click="snackbar = false"> Close</v-btn>
      </v-snackbar>

      <v-flex xs12 sm7 md5 lg4  >
        <v-card class="elevation-12">

          <v-card-text class="mt-2">
            <div class="logo my-5" alt="DevCode" >
              <img src="logo.png" width="200" height="80%" class="mb-5" >
            </div>
            <v-form>
                <!-- EMAIL -->
              <v-text-field
                v-model="email" 
                prepend-icon="email" 
                label="Correo" 
                required
                type="text"
                color="cafe"
                >

              </v-text-field>

                <!-- PASSWORD -->
              <v-text-field
                v-model="password"
                prepend-icon="lock"
                :append-icon="show1 ? 'visibility' : 'visibility_off'"
                :rules="[rules.required, rules.min]"
                :type="show1 ? 'text' : 'password'"
                label="contraseña"
                hint="At least 8 characters"
                counter
                @click:append="show1 = !show1"
                color="cafe"
              ></v-text-field>


            </v-form>
          </v-card-text>
              <!-- BOTONES -->
          <v-card-actions class="mt-1 mx-3">
            <v-spacer></v-spacer>
            <v-btn  small outlined color="cafe" :to="{name: 'registro'}">Registrarse</v-btn>
            <v-btn  small color="verde" dark @click="login" class="elevation-5">Iniciar Sesion</v-btn>
          </v-card-actions>
          
          <div style="padding: 10px" align="right"> 
            <v-btn  color="azul" small text  :to="{name: ''}">Olvide mi contraseña.</v-btn>
          </div>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import router from '@/router'
import {mapActions , mapGetters} from 'vuex'
  export default {
    data(){
      return{
        password: '',
        email:'',

        snackbar: false,
        text: '',
        color: 'blue',
        show1: false,

        rules: {
          required: value => !!value || 'Requerido.',
          min: v => v.length >= 8 || 'Minimo 8 caracteres',
          emailMatch: () => ('El correo y/o la contraseña no son correctos')
        },

      }
    },
 
    // computed:{
    //   ...mapGetters('Login',['getdatosUsuario']),
    // },

    created(){
      this.CambiaNavBar(false) 
    },

    methods:{
      ...mapActions('Login',['validateUser','CambiaNavBar']),
      // Ñas funciones siempre empiezan con minuscula
      login(){
        const user = { "email": this.email, "password": this.password }
        this.validateUser(user).then((response)=>{
          if(response === true ){
            this.$router.push({name: 'home'})
          }else{
            this.snackbar = true ; this.text = response; this.color ="red"
          }

        })
      
      },
    }
  };


</script>

<style scoped>
  
  .logo{
    align-content: "center";
    text-align: center;
  }
</style>


