<template>
	<v-container class="my-5 ">
		<v-row justify="center">
			<v-col cols="12" sm="8" md="6" lg="4" >
				<v-snackbar v-model="snackbar" :timeout="1000"  :color="color">
					{{text}}
					<v-btn color="white" text @click="snackbar = false" > Cerrar </v-btn>
				</v-snackbar>

				<v-card>
					<v-col cols="12" class="text-center">
						<v-menu offset-y >
							<template v-slot:activator="{ on }">
								<v-avatar size="105">
									<img src="/Users/EdgarTamez.jpg" alt="alt" v-on="on">
								</v-avatar>
							</template>
							<v-card-actions>
							<v-btn class="error"   small dark  ><v-icon>delete</v-icon></v-btn>
							<v-btn class="success" small dark  ><v-icon>add_a_photo</v-icon></v-btn>
							</v-card-actions>
						</v-menu>
					</v-col>

					<v-card-text>
						<v-text-field hide-details filled clearable  dense v-model="name" append-icon="person"  label="Nombre"></v-text-field>
						<v-text-field hide-details filled clearable  dense  v-model="email" append-icon="email"  label="Email"></v-text-field>
						
						<v-autocomplete
							v-model="names"
							:items="School"
							chips
							small-chips
							label="Escuelas"
							multiple
							clearable
							single-line
							hide-details 
							filled
							append-icon="apartment"
							v-if="existe"
						></v-autocomplete>

						<v-text-field hide-details filled clearable v-model="newschool" append-icon="apartment"  label="Agrege el nombre de su ecuela" v-else></v-text-field>
						<v-btn text small color="red" @click="existe = !existe"> {{ existe ? 'NO EXISTE MI ESCUELA':'CANCELAR'}}</v-btn>
						<v-btn text small color="success" @click="addSchool"> {{ existe ? '':'GUARDAR ESCUELA'}}</v-btn>
					</v-card-text>

					<v-card-actions class="mx-3">
						<v-spacer></v-spacer>
						<v-btn small rounded color="success"  @click="cambiaPassword = !cambiaPassword" v-if="cambiaPassword"> Cambiar Contraseña	</v-btn>
						<v-btn small rounded color="error" dark @click="cambiaPassword = !cambiaPassword" v-else > Cancelar </v-btn>
					</v-card-actions>

					<v-card-text v-if="!cambiaPassword">
						<v-text-field
							v-model="password"
							:append-icon="show1 ? 'visibility_off' : 'visibility'"
							:type="show1 ? 'text' : 'password'"
							label="Contraseña"
							clearable
							filled
							hide-details
							
							@click:append="show1 = !show1"
						></v-text-field>
						
						<v-text-field
							v-model="password2"
							:append-icon="show2 ? 'visibility_off' : 'visibility'"
							:type="show2 ? 'text' : 'password'"
							label=" Confirmar Contraseña"
							clearable
							filled
							hide-details
							@click:append="show2 = !show2"
						></v-text-field>
					</v-card-text>

					<v-divider class="my-2"></v-divider>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn small class="primary" @click="validaInfo">Guardar</v-btn>
					</v-card-actions>

				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
  import {mapActions , mapGetters} from 'vuex'
	export default {
		data:()=>({
			// VARIABLES PARA CONTRASEÑA
				cambiaPassword: true,
        password			:'',
        password2			:'',
        PasswordAEdit	:'',
				PasswordActual: '',
				show1					: true,
				show2					: true,
				// VARIABLES PRINCIPALES
				name		: '',
				email		: '',
				newschool:'',
				// ALERTAS
				snackbar: false,
				text		: '',
				color		: 'success',
				// AUTOCOMPLETE
				user_schools_defoult:[],
				user_schools:[],
				names    		:[],  
				School   		:[],   
				Schools  		:[],

				existe: true

		}),

		created(){
			// CONSULTAR ESCUELAS
			this.getSchoools()
			// ASIGNAR LOS VALORES
			this.name  = this.getdatauser.name;
			this.email = this.getdatauser.email;
			this.PasswordActual = this.getdatauser.password
			this.assignSchool();
		},

		watch:{
			names: function() {
				this.user_schools = []; 
				for(let i = 0 ; i < this.names.length; i++){
					for(let j = 0; j < this.Schools.length; j++){
						if(this.names[i] === this.Schools[j].name){
							this.user_schools.push(this.Schools[j].id)
						}
					}
				}
			},
		},

		computed:{
      ...mapGetters('Login',['getdatauser']),
		},

		methods:{
			...mapActions('Login',['ActualizaUser']),

			getSchoools(){
				var me = this
				this.$http.get('schools').then((res)=>{
					console.log('schools', res.body)
					res.body.forEach(function(element) {
						me.School.push(element.name)
						me.Schools.push(element)
					})
				})
			},

			assignSchool(){
				if(this.getdatauser.user_schools.length === 0) { return }
				
				for(let i = 0; i < this.getdatauser.user_schools.length; i++){
					this.names.push(this.getdatauser.user_schools[i].name )
					this.user_schools_defoult.push(this.getdatauser.user_schools[i].id)
				}
				
			},

			validaInfo(){
        if(this.cambiaPassword === false){
          // COMPARO LAS CONTRASEÑAS => TIENEN QUE SER IGUAL
          if(this.password.localeCompare(this.password2) ){
            this.text     = "Las contraseñas no coinciden"
            this.snackbar = true ; this.color ="orange darken-4"
            return

          }else 
            if(this.password == ''){
              this.text     = "No se puede omitir las contraseñas"
              this.snackbar = true; this.color ="red darken-4"
              return
            }else{
              // ASIGNO LA NUEVA CONTRASEÑA A VARIABLE PARA GRABAR
              // var md5 = require('md5');
							// this.PasswordAEdit = md5(this.password)
              this.PasswordAEdit = this.password
              this.savePutUser()
            }
        }else{
					// SI NO SE MODIFICO LA CONTRASEÑA CONSERVO LA ACTUAL					
          this.PasswordAEdit = this.PasswordActual
          this.savePutUser()
        }
			},
			
			savePutUser(){

				var user = [];
				console.log('user_school', this.user_schools.length)

				!this.user_schools.length ? user = this.user_schools_defoult: user = this.user_schools;
				console.log('user', user)

				this.$http.put('updateuser/'+ this.getdatauser.id, {
					"name": this.name,
					"email": this.email,
					"password": this.PasswordAEdit,
					"user_schools": user,
					"level"	: this.getdatauser.level,
					"active": this.getdatauser.active
				})
				.then(response=>{
					console.log('response', response.body)
					this.snackbar = true ; this.text ="Se actualizo correctamente";
					// this.ActualizaUser(this.getdatauser.id) // PENDIENTE ACTUALIZAR INFORMACION DEL USAURIO.
				}).catch(error=>{
					console.log('error', error)
				})
			},

			addSchool(){
				const school = { name:this.newschool }
				this.$http.post('schools', school ).then((response)=>{
					this.getSchoools()
					this.existe = !this.existe
					this.newschool = ''
				}).catch(error=>{

				})
			},

		}
	}
</script>