<template>
  <v-layout row wrap justify-center class="pa-4">
    <v-flex xs12 sm8 md5 lg4 class="my-5">
       
      <v-snackbar v-model="snackbar" :timeout="8000" top :color="color" > {{text}}
        <v-btn color="white" text @click="snackbar = false" > Cerrar </v-btn>
      </v-snackbar>

      <v-card class="elevation-8 mt-1 pa-1">
        <v-card-actions>
         <v-btn text color="cafe" dark :to="{name: 'login'}"><v-icon large>keyboard_backspace</v-icon></v-btn>
         <v-spacer></v-spacer>
         <strong> REGISTRO</strong>
        </v-card-actions>
        
        <v-flex class="text-center my-2">
          <img src="logo.png" width="200" height="80%" class="mb-5" lazy-src="https://picsum.photos/id/11/10/6" >
        </v-flex>

        <v-form> 
          <v-layout row wrap  class="mx-4">
            <v-flex xs12 >
              <v-text-field hide-details clearable color="cafe" v-model="name" prepend-icon="person" label="Nombre "></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field hide-details clearable color="cafe" v-model="email" prepend-icon="email"  label="Email"></v-text-field>
            </v-flex>
         
            <v-flex xs12 >
              <v-text-field
                v-model="password"
                prepend-icon="lock"
                :append-icon="show1 ? 'visibility_off' : 'visibility'"
                :rules="[rules.required, rules.min]"
                :type="show1 ? 'text' : 'password'"
                name="input-10-1"
                label="Ingresa tu contraseña"
                hint="Al menos 8 caracteres"
                clearable
                hide-details 
                single-line
                @click:append="show1 = !show1"
                color="cafe"
              ></v-text-field>
            </v-flex>

            <v-flex xs12 >
              <v-text-field
                v-model="password2"
                prepend-icon="lock"
                :append-icon="show2 ? 'visibility_off' : 'visibility'"
                :rules="[rules.required, rules.min]"
                :type="show2 ? 'text' : 'password'"
                name="input-10-1"
                label="Confirma la contraseña"
                hint="Al menos 8 caracteres"
                clearable
                hide-details 
                single-line
                @click:append="show2 = !show2"
                color="cafe"
              ></v-text-field>
            </v-flex>

            <!-- <v-flex xs12>
              <v-autocomplete
                v-model="names"
                :items="School"
                chips
                small-chips
                label="Escuelas"
                multiple
                clearable
                single-line
                prepend-icon="home"
              ></v-autocomplete>
            </v-flex> -->
          </v-layout>

          <v-card-actions class="pa-4 mt-2">
            <v-spacer></v-spacer>
            <v-btn small align="right" color="verde" dark @click="Registrarse">Registrase</v-btn>
          </v-card-actions>            

        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  data(){
    return{
      // PASSWORD
      show1: true,
      show2: true,
      password:'',
      password2:'',
      rules: {
        required: value => !!value || 'Requerido.',
        min: v => v.length >= 8 || 'Minimo 8 caracteres',
        emailMatch: () => ('El correo y/o la contraseña no son correctos')
      },
      // VARIABLES
      name:'',
      email:'',

      error:'',
      ID: '',
      
      // SNACKBAR
      snackbar: false,
      timeout: 0,
      color : 'blue',
      text:'',

      // user_schools:[],
      // names     :'',  
      // School   :['Virgilio Garza Flores','Cuauthemoc','Ramiro Rodríguez Villarreal'],   
      // Schools  :[{ id: 1, name: 'Virgilio Garza Flores'},
      //            { id: 2, name: 'Cuauthemoc'},
      //            { id: 3, name: 'Ramiro Rodríguez Villarreal'}], 
    }
  },

  // created(){
  //   var me = this
  //   this.$http.get('schools').then((res)=>{
  //     res.body.forEach(function(element) {
  //       me.School.push(element.name)
  //       me.Schools.push(element)
  //     })
  //   })
  // },

  // watch:{
  //   names: function() {
  //     this.user_schools = []; 

  //     for(let i = 0 ; i < this.names.length; i++){
  //       for(let j = 0; j < this.Schools.length; j++){
  //         if(this.names[i] === this.Schools[j].name){
  //           this.user_schools.push(this.Schools[j].id)
  //         }
  //       }
  //     }
  //   },
  // },

  computed:{
    validaInfo(){
    return  this.name         !==  '' &&       
            this.email        !==  '' &&
            this.password     !==  '' &&
            this.password2    !==  ''  
    },

    validaPassword(){
      return this.password.localeCompare(this.password2)        
    }
  },

  methods:{
    
    Registrarse(){
      // var md5 = require('md5');

      if(!this.validaInfo){
        this.text     = "Faltan campos por agregar"; this.snackbar = true
        this.color    = "red darken-4"; 
        return
      }

      if(this.validaPassword != 0){
        this.text     = "Las contraseñas no coinciden" ; this.snackbar = true
        this.color    = "red darken-4"; 
        return
      }

      const user = { 
          name:     this.name ,
          email:    this.email, 
          password: this.password,
          level:    2,
          active:   true,
          photo :  ''
          // user_schools:  this.user_schools
      }

      console.log('users', user)
     
      this.$http.post('user', user).then(response =>{
        var me = this 
        this.snackbar = true; this.text = "El usuario fue registrado correctamente"
        setTimeout(function(){ me.$router.push({name: '/login'}) }, 2000);
      }).catch(error =>{
        // console.log('errors',error.body.errors)
        this.snackbar = true; this.text = error.body.errors ; this.color="error"
      })

    }
    
  }
}
</script>

<style scoped>
  
  .logo{
    align-content: "center";
    text-align: center;
  }
</style>