<template>
  <v-container>
    <v-row class="justify-center">
      <v-col cols="12" sm="11" lg="12"   >
        <v-snackbar v-model="snackbar" :timeout="timeout" top rigth :color="color"> {{text}} </v-snackbar>
        <!-- BARRA DE ESPERA A CARGAR DATOS -->
        <!-- <v-container style="height: 500px" >
          <v-row class="fill-height" align-content="center" justify="center" >
            <v-col class="subtitle-1 text-center" cols="12" >
              <strong> Cargado información del grupo </strong>
            </v-col>
            <v-col cols="6">
              <v-progress-linear color="green" indeterminate rounded height="6" ></v-progress-linear>
            </v-col>
          </v-row>
        </v-container> -->

        <v-col cols="12" sm="11" lg="12"> 
          <v-card class="ma-1">
            <v-img src="/Grupos/control1.jpg" 
              class="white--text align-end"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              height="180px"
            >
              <v-card-title style="font-size:18px">Crear un grupo
              </v-card-title>
            </v-img> 

          </v-card>

          <v-card class="ma-1">
            <v-img src="/Grupos/control2.jpg"
              class="white--text align-end"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              height="180px"
            >
              <v-card-title style="font-size:18px">Seguimiento de mi grupo
              </v-card-title>
            </v-img> 
          </v-card>
        </v-col>
      
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  export default {
      data:()=>({
        snackbar: false,
        text: '',
        color:'success',
        timeout:3000,

        loading: true,

      }),

      created(){
        if(this.getGroupSelect){
          this.loading = false
        }else{
          console.log('Alerta', 'NO HAY INFORMACION DEL GRUPO')
        }
      },

      computed:{
        ...mapGetters('Login',['getdatauser']),
        ...mapGetters('Perfil',['getGroupSelect','getSchoolSelect']),
      },

      methods:{

      },


  }
</script>