<template>
	<v-layout justify-center class="mt-2">
		<v-flex class="xs12 md7"> 
			
			<v-flex class="xs12 sm6 md7 my-3" >
				<h3> Catálogo de Evaluaciones</h3>
			</v-flex>

			<v-card>
				<v-card-actions>
					<v-text-field
						v-model="search"
						append-icon="search"
						label="Buscar Evualuación"
						single-line
						hide-details
					></v-text-field>
					<v-spacer></v-spacer>
					<v-btn class="success" :to="{ name:'nuevogrupo'}">Nueva Evaluación</v-btn>
				</v-card-actions>

				<v-data-table :headers="headers" :items="desserts" :search="search" hide-default-footer class="elevation-10" >
					<template v-slot:item.action="{ item }">
						<!-- <v-btn text color="blue darken-4" small @click="edit(item.nomdocente)"> detalle <v-icon right >visibility</v-icon> </v-btn>	 -->
						<v-icon  color="success" class="mr-2" @click="edit(item,'editar')" >edit </v-icon>
						<v-icon  color="error" class="mr-2" @click="edit(item,'documento')" >delete </v-icon>

					</template>
				</v-data-table>

			</v-card>
		</v-flex>
	</v-layout>
</template>

<script>
export default {
	data:()=>({
		search: '',

		headers: [
			{ text: 'nombre', value: 'nombre' },
			{ text: '', value: 'action', align: 'right',sortable: false },

		],
		desserts: [
			{
				nombre: 'Ortografía',
			},
			{
				nombre: 'Contenido',
			},
			{
				nombre: 'Creatividad',
			},
		
		],
	}),

	methods:{
		edit(item,modo){
			console.log(item, modo)
			// this.$route.push({ name: '' , params:{ id:id} })
		}
	}
}
</script>