<template >
  <v-container  class="mt-3">
    <v-row justify="center">
      <v-col cols="12">

        <v-snackbar top v-model="snackbar" :timeout="4000"  :color="color"> {{text}}
					<v-btn color="white" text @click="snackbar = false" > Cerrar </v-btn>
				</v-snackbar>
        
        <v-hover v-slot:default="{ hover }"> <!-- TITULO DE LA VISTA -->
          <v-card :elevation="hover ? 12 : 2" class="my-2">
            
            <v-card-text class="cafe"  > 
              <span class="font-weight-bold" style="color:white"> Seleccione un perfil</span>   
            </v-card-text>
    
            <v-card-text>
              <v-row  >
                <v-col cols="12" sm="6" lg="6" class="d-flex" >
                  <v-select
                    :items="School"
                    v-model="nomschool"
                    value="Schools.id"
                    append-icon="apartment"
                    label ="Escuela"
                    placeholder="Seleccione una escuela"
                    hide-details
                    outlined
                    dense
                    color="cafe"
                  ></v-select>
                </v-col>

                <v-col cols="12" sm="6" class="d-flex">
                  <v-select
                    :items="Group"
                    v-model="group"
                    append-icon="wc"
                    label ="Grupo"
                    placeholder="Seleccione un grupo"
                    hide-details
                    outlined
                    dense
                    color="cafe"
                  ></v-select>
                </v-col>
              </v-row>

            </v-card-text>
          </v-card>
        </v-hover>

        <v-row dense v-if="nomschool != '' && group != '' ">
          <v-col v-for="control in AppControl" :key="control.title" :to="control.path" cols="12" sm="6" md="4" >
            <v-hover v-slot:default="{ hover }">
              <!-- <v-card v-ripple ondblclick="" :elevation="hover ? 12 : 4" :to="control.path"> -->
              <v-card v-ripple ondblclick="" :elevation="hover ? 12 : 4" @click="ViewModal(control.view)">

                <v-img :src="control.photo" 
                  class="white--text align-end"
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                  height="180px"
                >
                  <v-card-title style="font-size:18px">{{ control.title }} 
                  </v-card-title>
                </v-img>
                
              </v-card>
            </v-hover>
          </v-col>
        </v-row>
        
        <!-- ---- groups---- -->
        <v-row justify="center">
          <v-col cols="12" class="pa-4">
            <v-dialog v-model="dialog" persistent width="500px" height="10px">
            <v-card>
              <v-card-title class="blue darken-4 white--text"  >{{ textDialog  }}</v-card-title>
              <div v-show="groupsControl"><GruposControl/></div>
              <v-divider></v-divider>
              <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-4" text @click="dialog = false">Cancelar</v-btn>
              <!-- <v-btn color="blue darken-1" text @click="dialog = false">Save</v-btn> -->
            </v-card-actions>
            </v-card>

            </v-dialog>
          </v-col>
        </v-row>
        <!-- ------------------ -->

      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import {mapActions , mapGetters} from 'vuex'
  import GruposControl from '@/views/UserControl/Groups/GroupsControl'
  export default {
    components: {
      GruposControl
    },
    data:()=>({
      textDialog: '',
      dialog: false,
      groupsControl: false,
      // SELECTOR 
      school_id : 0,
      nomschool :'', 
      School: [] ,
      Schools  :[],
      School_ant: '',

      group_id: 0,
      group   :'',
      Group   :[],   
      Groups  :[],
      
      AppControl: [
        { title: 'COMPLETAR DATOS' , photo: '/Accesos/1.jpg', path : 'perfil' , view: 'perfil'},
        { title: 'MIS GRUPOS'      , photo: '/Accesos/2.jpg', path : 'groupscontrol' , view: 'groupscontrol'  },
        { title: 'TAREAS'          , photo: '/Accesos/3.jpg', path : '' , view: ''},
        { title: 'CALIFICACIONES'  , photo: '/Accesos/4.jpg', path : '' , view: ''},
        { title: 'ASISTENCIAS'     , photo: '/Accesos/5.jpg', path : '' , view: ''},
        { title: 'EVALUACIONES'    , photo: '/Accesos/6.jpg', path : '' , view: ''},
      ],

      // SNACKBAR
      snackbar: false,
      text: '',
      color: 'success',


    }),

    computed:{
      ...mapGetters('Login',['getdatauser']),
      ...mapGetters('Perfil',['getGroupSelect','getSchoolSelect']),
    },

    created(){
      this.fillSchools()        // MANDO A LLAMAR LA FUNCION PARA LLENAR ESCUELAS
      this.searchSchoolSelect() // BUSCAR PERFIL SELECCIONADO
    },

    watch:{
      nomschool: function(){
        console.log('Escuelas')
        this.group = '' 
        for(let j=0; j< this.Schools.length; j++){
          if(this.nomschool === this.Schools[j].name){
            this.school_id = this.Schools[j].id
              console.log('Mando a guardar la school')
            // GUARDO LA ESCUELA SELECCIONADA
            this.schoolSelection(this.Schools[j])
            // MANDO A CONSULTAR LOS GRUPOS POR ESCUELA
            this.getGroups()
          }
        }
      },

      group: function(){
        console.log('Grupos')

        for(let x=0; x< this.Groups.length; x++){
          if(this.group === this.Groups[x].name){
            this.group_id = this.Groups[x].id
            // GUARDO EL GRUPO SELECCIONADO
            this.groupSelection(this.Groups[x])
          }
        }
      }
    },

    methods:{
      ...mapActions('Perfil',['groupSelection','schoolSelection']),

      fillSchools(){   // FORMAR SELECTOR DE ESCUELAS
        for(let i = 0; i < this.getdatauser.user_schools.length; i++){
          this.School.push(this.getdatauser.user_schools[i].name )
          this.Schools.push(this.getdatauser.user_schools[i])
        }

      },

      searchSchoolSelect(){ // BUSCAR ESCUELA SELECCIONADA 
        if(this.getSchoolSelect){
          this.school_id = this.getSchoolSelect.id
          this.nomschool = this.getSchoolSelect.name
          this.getGroups(true) // LLENAR ARRAY DE GROUPS
        }
      },

      getGroups(status){
        console.log('get Groups')

        this.$http.post('school_groups',{ user_id: this.getdatauser.id , school_id: parseInt(this.school_id)
        }).then(response=> {
          
          if(!response.body.length){ // VALIDO SI EXISTEN GRUPOS POR LA ESCUELA
            this.snackbar = true; this.text = " No se encontraron grupos.", this.color="red"
            return;
          }

          this.Group = []; this.Groups = [];          // VACIO ARRAYS DE GRUPOS PARA LLENARLOS CON LOS CONSULTADOS
          for(let i=0; i< response.body.length; i++){ // CICLO PARA ASIGNAR GRUPOS
            this.Group.push(response.body[i].name)    // LLENO EL ARRAY PARA MOSTRAR EN SELECTOR
            this.Groups.push(response.body[i])        // LLENO EL ARRAY DE GRUPOS CON TODA LA INFORMACION     
          }

        }).catch(error=>{
          console.log('error', error)
        })

        // ASIGNAR GRUPO SELECCIONADO
        if(this.getGroupSelect){ // VERIFICO SI HAY ALGUN GRUPO SELECCIONADO
          this.group_id = this.getGroupSelect.id
          this.group    = this.getGroupSelect.name
          return
        }
      },

      ViewModal(view){  // FUNCION PARA ABRIR MODALES SEGUN EL MENÚ
        switch(view) {
          case 'perfil':
            this.$router.push({ name: 'perfil'})
            break;
          case 'groupscontrol':
           this.groupsControl = true; this.dialog = true ; this.textDialog = 'CONTROL DE GRUPOS'
            break;
          default:
            // code block
        }
      },
    }
  };
</script>

<style scoped>

</style>