<template>
	<v-layout justify-center class="mt-2">
		<v-flex class="xs12 md9"> 
			
			<v-layout row wrap justify-center class="mx-1 my-2" >
        <v-flex class="xs12 sm6 md7" >
					<h3> Catálogo de Niveles</h3>
        </v-flex>

        <v-flex  class=" xs12 sm6 md5">
					<v-select
						:items="Sucursal"
						v-model="nomsuc"
						append-icon="brightness_7"
						label ="Ciclos Escolares"
						single-line
						hide-details
						clearable
	      	></v-select>
        </v-flex>
      </v-layout>

			<v-card>
				<v-card-actions>
					<v-text-field
						v-model="search"
						append-icon="search"
						label="Buscar Grupo"
						single-line
						hide-details
					></v-text-field>
					<v-spacer></v-spacer>
					<v-btn class="success" :to="{ name:'nuevogrupo'}">Nuevo Grupo</v-btn>
				</v-card-actions>

				<v-data-table :headers="headers" :items="desserts" :search="search" hide-default-footer class="elevation-10" >
					<template v-slot:item.action="{ item }">
						<!-- <v-btn text color="blue darken-4" small @click="edit(item.nomdocente)"> detalle <v-icon right >visibility</v-icon> </v-btn>	 -->
						<v-icon  color="success" class="mr-2" @click="edit(item,'editar')" >edit </v-icon>
						<v-icon  color="#651706" class="mr-2" @click="edit(item,'documento')" >description </v-icon>

					</template>
				</v-data-table>

			</v-card>
		</v-flex>
	</v-layout>
</template>

<script>
export default {
	data:()=>({
		search: '',

		id        : '',
		nomsuc    :'',  
		idsuc     :'',   
		Sucursal  :[],   
		Sucursales:[],

		headers: [
			{ text: 'Docente asignado', value: 'nomdocente' },
			{ text: 'Nombre del grupo', value: 'grupo' },
			{ text: 'Ciclo escolar'   , value: 'ciclo' },
			{ text: '', value: 'action', sortable: false },

		],
		desserts: [
			{
				grupo: 'GRUPO 5 B',
				nomdocente: "Lic. Jessica Magaly Tamez García",
				ciclo: "AGOSTO-2019 A DICIEMBRE-2019",
			},
			{
				grupo: 'GRUPO 4 A',
				nomdocente: "Lic. Luis Fernando Hernandez",
				ciclo: "AGOSTO-2019 A DICIEMBRE-2019",
			},
			{
				grupo: 'GRUPO 6 C',
				nomdocente: "Lic. Eduardo Adolfo Lopez Herrera",
				ciclo: "AGOSTO-2019 A DICIEMBRE-2019",
			},
		
		],
	}),

	methods:{
		edit(item,modo){
			console.log(item, modo)
			// this.$route.push({ name: '' , params:{ id:id} })
		}
	}
}
</script>