<template>
	<v-layout justify-center class="mt-2">
		<v-flex class="xs12 md9"> 
			
			<!-- <v-layout row wrap justify-center class="mx-1 my-2" > -->
        <v-flex class="xs12 sm6 md8 my-3" >
					<h3> Catálogo de Usuarios</h3>
        </v-flex>

        <!-- <v-flex  class=" xs12 sm6 md4 ">
					<v-select
						:items="Sucursal"
						v-model="nomsuc"
						append-icon="home"
						label ="Escuela"
						single-line
						hide-details
						clearable
	      	></v-select>
        </v-flex> -->
				<!-- <v-flex  class=" xs12 sm6 md4 pa-1">
					<v-select
						:items="Sucursal"
						v-model="nomsuc"
						append-icon="bubble_chart"
						label ="Municipio"
						single-line
						hide-details
						clearable
	      	></v-select>
        </v-flex> -->
      <!-- </v-layout> -->

			<v-card>
				<v-card-actions>
					<v-text-field
						v-model="search"
						append-icon="search"
						label="Buscar Usuario"
						single-line
						hide-details
					></v-text-field>
					<v-spacer></v-spacer>
					<v-btn class="success" :to="{ name:'nuevogrupo'}">Nuevo Usuario</v-btn>
				</v-card-actions>

				<v-data-table :headers="headers" :items="Usuarios" :search="search" hide-default-footer class="elevation-10" >
					<template v-slot:item.action="{ item }">
						<!-- <v-btn text color="blue darken-4" small @click="edit(item.nomdocente)"> detalle <v-icon right >visibility</v-icon> </v-btn>	 -->
						<v-icon  color="success" class="mr-2" @click="edit(item,'editar')" >edit </v-icon>
						<v-icon  color="error" class="mr-2" @click="edit(item,'documento')" >delete </v-icon>

					</template>
				</v-data-table>

			</v-card>
		</v-flex>
	</v-layout>
</template>

<script>
export default {
	data:()=>({
		search: '',

		id        : '',
		nomsuc    :'',  
		idsuc     :'',   
		Sucursal  :[],   
		Sucursales:[],

		headers: [
			{ text: 'Nombre'   , value: 'name' },
			{ text: 'Correo'   , value: 'email' },
			{ text: '', value: 'action', sortable: false },
		],
		Usuarios: [],
	}),

	created(){
		this.ConsultarUsuarios()
	},
	methods:{
		ConsultarUsuarios(){
			this.$http.get('users').then(response =>{
				this.Usuarios = response.body
			}).catch(error =>{
				console.log('error', error)
			})

		},
		edit(item,modo){
			console.log(item, modo)
			// this.$route.push({ name: '' , params:{ id:id} })
		}
	}
}
</script>