<template>
  <v-app id="inspire">
    <v-navigation-drawer app v-model="drawer" temporary  v-if="logueado">

      <v-list dense nav class="py-0">
        <v-list-item two-line>
          <v-list-item-avatar>
            <img src="/Users/EdgarTamez.jpg" >
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title> {{ getdatauser.name }}</v-list-item-title>
            <v-list-item-subtitle v-if="getdatauser.length !=0 "> {{ getdatauser.level === 1? 'Docente': 'Director' }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider></v-divider>
      
      <v-list dense>
        <template v-for="control in AppControl">
          <v-list-item
            v-for="(child, i) in control.admin"
            :key="i"
            :to="child.path"
            color= "verde"
          >
            <v-list-item-icon>
              <v-icon>{{ child.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content >
              <v-list-item-title >
                {{ child.text }}
              </v-list-item-title>
            </v-list-item-content>
              <!-- {{ child.acceso }} -->
          </v-list-item>

        </template>
      </v-list>

       <v-list dense>
        <template v-for="cat in AppControl">

          <v-list-group  v-if="cat.catalogos" :key="cat.title" v-model="cat.model" :prepend-icon="cat.model ? cat.icon : cat['icon-alt']"
            color= "verde"
          >
            <template v-slot:activator>
              <v-list-item>
                <v-list-item-content >
                  <v-list-item-title > 
                   {{ cat.title}}
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>

            <v-list-item
              v-for="(child, i) in cat.catalogos"
              :key="i"
              :to="child.path"
            >
              <v-list-item-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content >
                <v-list-item-title >
                  {{ child.text }}
                </v-list-item-title>
              </v-list-item-content>
                {{ child.acceso }}

            </v-list-item>
          </v-list-group>
        </template>
      </v-list>

      <v-divider></v-divider>
      <v-list-item>
        <v-list-item-action>
          <v-icon>exit_to_app</v-icon>
        </v-list-item-action>
        <v-list-item-content >
          <v-list-item-title @click="Logout">
            <h5>Salir</h5>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

    </v-navigation-drawer>

    <v-container class="mt-5" >
      <router-view/>
    </v-container>

    <v-app-bar app color="verde" dark class="elevation-0" v-ripple v-if="logueado">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" ></v-app-bar-nav-icon>
      <v-spacer></v-spacer>
       
      <v-toolbar-items text-right>
       <v-btn text class="hidden-sm-and-down" dark :to="{name: 'perfil'}">{{ getdatauser.name }}</v-btn>
       <v-btn text class="hidden-md-and-up"  dark :to="{name: 'perfil'}"> <v-icon >person</v-icon></v-btn>
      </v-toolbar-items>
    </v-app-bar>

   
  </v-app>
</template>

<script>
  import {mapActions , mapGetters} from 'vuex'
  export default {
    components: {
    },
    data: () => ({
      drawer: null,
      photo_user: 'default.jpg',
      AppControl: [
        {
            icon: 'account_box',
            title :' Catálogos',
            model: false,
            catalogos: [ 
              { text: 'Catálogo de Usuarios'     ,path: 'catusuarios'    },
              { text: 'Catálogo de Grupos'       ,path: 'catgrupos'       },
              { text: 'Catálogo de Escuelas'     ,path: 'catescuelas'    },
              { text: 'Catálogo de Evaluaciones' ,path: 'catevaluaciones'  } 
              ],
          },

           {
            admin: [ 
              { text: 'Inicio'            ,path: 'home'  , icon: 'face' },
              { text: 'Calificaciones'     ,path: 'catusuarios'  , icon: 'library_books' },
              { text: 'Asistencias'       ,path: 'catgrupos'    , icon: 'chrome_reader_mode' },
              { text: 'Revisar Tareas'     ,path: 'catescuelas'   , icon: 'check_circle' },
              ],
          },
      ]
    }),

    created(){
      if(this.getdatauser.photo != null){
        this.photo_user === this.getdatauser.photo
      }
    },
    computed:{
      ...mapGetters('Login',['getdatauser','getLogeado']),
      
      logueado(){
        return this.$store.state.Login.login;
      },

    
    },

    methods:{
      Logout(){
        this.$store.dispatch("salir")
      }
      
    }

  };
</script>
