<template>
	<v-container class="mt-2">
		<v-row justify="center" class="mt-2">
			<v-col class="xs12 md9"> 
				
				<v-card-actions> <h3><strong> GRUPOS </strong></h3></v-card-actions>

				<v-card>
					<v-card-actions>
						<v-text-field
							v-model="search"
							append-icon="search"
							label="Buscar"
							single-line
							hide-details
						></v-text-field>
						<v-spacer></v-spacer>
						<v-btn class="verde" dark small :to="{ name:'nuevogrupo'}">Nuevo Grupo</v-btn>
					</v-card-actions>

					<v-data-table :headers="headers" :items="Grupos"  hide-default-footer class="elevation-10" >
						<template v-slot:item.action="{ item }">
							<v-btn icon class="success"  ><v-icon  color="white" class="ma-1" @click="edit(item)" >edit </v-icon></v-btn>
							<!-- <v-btn icon class="cafe"  ><v-icon  color="white" class="ma-1" @click="edit(item,'documento')" >description </v-icon></v-btn> -->
						</template>
					</v-data-table>

				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
export default {
	data:()=>({
		search: '',

		id        : '',
		nomsuc    :'',  
		idsuc     :'',   
		Sucursal  :[],   
		Sucursales:[],

		headers: [
			{ text: 'Grupo', value: 'nomgroup' },
			{ text: 'Ecuela', value: 'nomschool' },
			{ text: 'Incio'   , value: 'start_cycle' },
			{ text: 'Fin'   , value: 'end_cycle' },
			{ text: '', value: 'action', sortable: false },

		],
		Grupos: [],
	}),

	created(){
		this.ConsultarGrupos()
	},
	methods:{
		
		ConsultarGrupos(){
			this.$http.get('groups').then(response =>{
				console.log('grupos', response.body)
				this.Grupos = response.body
			}).catch(error =>{

			})
		},

		edit(items){
			var me = this
			this.$router.push({name:'editargrupo', params: { id: items }})
		}
	}
}
</script>