<template>
	<v-content >
		<v-row justify="center">
			<v-col cols="12"> 

				<v-snackbar v-model="snackbar" :timeout="3000"  :color="color"> {{text}}
					<v-btn color="white" text @click="snackbar = false" > Cerrar </v-btn>
				</v-snackbar>
				
				<v-card-actions v-if="alumnos.length">
					<v-spacer></v-spacer>
					<!-- BOTON PARA GUARDAR -->
          <v-dialog v-model="guardarModal" persistent max-width="400">
            <template v-slot:activator="{ on }">
              <v-btn color="verde" small dark v-on="on">Editar Grupo</v-btn>
            </template>

            <v-card>
              <v-flex xs12 class="pa-4">
                <span style="font-size:18px;font-weight: bold">¿ ESTAS SEGURO DE ACTUALIZAR EL GRUPO ?</span>	<br>
              </v-flex>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red darken-1" text small  @click="guardarModal = false">Cancelar</v-btn>
                <v-btn color="verde" dark small @click="UpdateGroup">Actualizar Grupo </v-btn>
              </v-card-actions>
            </v-card>

          </v-dialog>

          <v-dialog v-model="loading" hide-overlay persistent width="300">
            <v-card color="blue darken-4" dark >
              <v-card-text> <th style="font-size:18px;" align="center">{{ loadingText }}</th>
                <br>
                <v-progress-linear indeterminate color="white" class="mb-0" persistent></v-progress-linear>
              </v-card-text>
            </v-card>
          </v-dialog>

				</v-card-actions>

				<v-hover v-slot:default="{ hover }">
					<v-card class="pa-3" :elevation="hover ? 12 : 2">
						<v-row>
							<v-col cols="12">
								<strong>Datos del Grupo</strong><br>
								<v-divider></v-divider>
							</v-col>

							<v-col cols="12" sm="4"> <!-- ESCUELAS -->
								<v-select
									:items="School" v-model="nomschool" append-icon="apartment" label ="Escuela" hide-details clearable outlined dense
								></v-select>	
							</v-col>

							<v-col cols="12" sm="4"> <!-- GRUPOS -->
								<v-text-field
									label="Nombre del Grupo" v-model = 'nomgrupo' outlined clearable dense hide-details
								></v-text-field>
							</v-col>

							<v-col cols="6" sm="2"> <!-- FECHA 1 -->
								<v-dialog ref="fecha1" v-model="modal1" :return-value.sync="dateFrom" persistent 	width="290px" >
									<template v-slot:activator="{ on }">
										<v-text-field
											v-model="dateFrom" label="Fecha Incial" append-icon="event" readonly outlined v-on="on" dense hide-details
										></v-text-field>
									</template>
									<v-date-picker v-model="dateFrom" type="month" locale="es-es" scrollable color="verde">
										<v-spacer></v-spacer>
										<v-btn text color="cafe" @click="modal1 = false">Cancel</v-btn>
										<v-btn color="verde" dark @click="$refs.fecha1.save(dateFrom)">OK</v-btn>
									</v-date-picker>
								</v-dialog>
							</v-col>

							<v-col cols="6" sm="2"> <!-- FECHA 2 -->
								<v-dialog ref="fecha2" v-model="modal2" :return-value.sync="dateTo" persistent width="290px" >
									<template v-slot:activator="{ on }">
										<v-text-field
											v-model="dateTo" label="Fecha Fin" append-icon="event" readonly outlined v-on="on" dense hide-details
										></v-text-field>
									</template>
									<v-date-picker v-model="dateTo" type="month" locale="es-es" scrollable color="verde">
										<v-spacer></v-spacer>
										<v-btn text color="cafe" @click="modal2 = false">Cancel</v-btn>
										<v-btn color="verde" dark  @click="$refs.fecha2.save(dateTo)">OK</v-btn>
									</v-date-picker>
								</v-dialog>
							</v-col>
							
						</v-row>
					</v-card>
				</v-hover>

				<v-row class="mt-2">
					<v-col cols="12"   >
						<strong> <h3> Alta de Alumnos </h3></strong>
					</v-col>

					<!-- <v-col class="text-right" cols="3" sm="6">
						<upload-excel-component :on-success="handleSuccess" :before-upload="beforeUpload" />
					</v-col> -->
				</v-row>
			
				<v-row >
					<v-col cols="12" sm="6" md="5">
						<v-card class="pa-1 elevation-8">
							<v-text-field
								v-model="name" label="name del Alumno" class="mx-2 pa-2" hide-details clearable append-icon="person"
							></v-text-field>
							<v-text-field
								v-model="paternal" label="Apellido Paterno" class="mx-2 pa-2" hide-details clearable append-icon="person"
							></v-text-field>
							<v-text-field
								v-model="maternal" label="Apellido Materno" class="mx-2 pa-2" hide-details clearable append-icon="person"
							></v-text-field>
							<v-text-field
								v-model.number="age" type="number" label="Edad" class="mx-2 pa-2" hide-details clearable append-icon="face"
							></v-text-field>
							<v-text-field
								v-model="dad_name" label="Nombre del padre" class="mx-2 pa-2" hide-details clearable append-icon="supervisor_account"
							></v-text-field>
							<v-text-field
								v-model="mom_name" label="Nombre del madre" class="mx-2 pa-2" hide-details clearable append-icon="supervisor_account"
							></v-text-field>
							<v-text-field
								v-model.number="phone" type="number" label="Telefono de Contacto" class="mx-2 pa-2" hide-details clearable append-icon="phone"
							></v-text-field>
							<v-text-field
								v-model="emergency_phone" label="Telefono de Emergencia" class="mx-2 pa-2" hide-details clearable append-icon="phone" type="number"
							></v-text-field>

							<v-card-actions>
								<v-btn  small text color="error" dark @click="LimpiarCampos" v-if="modo!=1">Cancelar</v-btn>
								<v-spacer></v-spacer>
								<v-btn  small color="success" dark @click="agregarAlumno" v-if="modo===1">Agregar Alumno</v-btn>
								<v-btn  small color="info"    dark @click="editar" v-if="modo!= 1">Editar</v-btn>
							</v-card-actions>
						</v-card>
					</v-col>

					<v-col cols="12" sm="6" md="7"  v-if="alumnos==''">
						<v-alert type="error" color="info" dark class="elevation-8">
						No se ha capturado ningun alumno.
						</v-alert>
					</v-col>

					<v-col cols="12" sm="6" md="7" v-if="alumnos!=''">
						<v-data-table :headers="headers" :items="alumnos" :search="search"  class="elevation-10" hide-default-footer fixed-header height="465">
							<template v-slot:item.action="{ item }">
								<v-icon  color="info" class="mr-2" @click="rellenar(item,2)" >edit </v-icon>
								<v-icon  color="error" @click="eliminar(item,3)"> delete </v-icon>
							</template>
						</v-data-table>
					</v-col>

					<!-- ALERTA ANTES DE ELIMINAR -->
					<v-dialog v-model="dialog" persistent max-width="290">
						<v-card>
							<v-card-title class="headline">{{ textDialog  }}</v-card-title>
							<v-card-text> {{ subDialog }}</v-card-text>
							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn color="green darken-1" text @click="dialog = false">Disagree</v-btn>
								<v-btn color="green darken-1" text @click="dialog = false">Agree</v-btn>
							</v-card-actions>
						</v-card>
					</v-dialog>

				</v-row>

			</v-col>
		</v-row>
	</v-content>
</template>

<script>
	import UploadExcelComponent from '@/components/UploadExcel.vue'
  import {mapActions , mapGetters} from 'vuex'

	export default {
		name: 'UploadExcel',
		components: { UploadExcelComponent }, 
		data:()=>({
			// VARIABLES PRINCIPALES
			group_id : null,
			nomgrupo : '',
			name     : '',
			paternal :'',
			maternal :'',
			age      :'',
			dad_name :'',
			mom_name :'',
			phone:'',
			emergency_phone:'',
			search  :'',

			headers: [
				{ text: 'Nombre del Alumno' , value: 'name' },
				{ text: 'Apellido Paterno'  , value: 'paternal' },
				{ text: 'Apellido Materno'  , value: 'maternal' },
				{ text: '', value: 'action', sortable: false },
			],

			alumnoAEditar:[],
			alumnos: [],
			
			// TABLA EXCEL
			tableData: [],
			tableHeader: [],
			modo : 1,

			textDialog: '', 
			subDialog : '',
			dialog: false,

			// SNACKBAR
			snackbar: false,
			text: '',
			color: 'success',

			// DIALOGOS
			guardarModal: false,
			loading: false,
			loadingText: '',

			// SELECTOR 
			school_id : 0,
			nomschool :'',  
			School   :[],   
			Schools  :[],

			// MANEJO DE FECHAS
			dateFrom: new Date().toISOString().substr(0, 7),
			menu: false,
			modal1: false,

			dateTo: new Date().toISOString().substr(0, 7),
			menu: false,
			modal2: false,


		}),
		
		created(){

			for(let i = 0; i < this.getdatauser.user_schools.length; i++){
				this.School.push(this.getdatauser.user_schools[i].name )
				this.Schools.push(this.getdatauser.user_schools[i])
			}

			this.consultaInfo(this.$route.params.id) // MANDO A CONSULTAR GRUPOS Y ESTUDIANTES

		},

		watch:{
			nomschool: function(){
				for(let j=0; j< this.Schools.length; j++){
					if(this.nomschool === this.Schools[j].name){
						this.school_id = this.Schools[j].id
					}
				}
			}
		},

		computed:{
			...mapGetters('Login',['getdatauser']),
		},

		methods:{
			consultaInfo(items){;
				
				this.$http.get('groupsxid/'+ items.id).then((response)=>{ // CONSULTAR GRUPOS 
					console.log('Grupos', response.body)
					
					this.group_id  = response.body[0].id;
					this.nomgrupo  = response.body[0].name;
					this.nomschool = response.body[0].nomschool;
					this.school_id = response.body[0].school_id;
					this.dateFrom  = response.body[0].start_cycle;
					this.dateTo    = response.body[0].end_cycle;

				})

				this.$http.get('studentxid/'+ items.id ).then((response)=>{ // CONSULTAR ESTUDIANTES
					console.log('students por id', response.body)
					this.alumnos = response.body
				})

			
			},

			UpdateGroup(){
				this.guardarModal= false; 
				this.loading = true ; this.loadingText = " Actualizando Información";
				setTimeout(() => (this.loading = false), 3000)

				const group = { user_id    : this.getdatauser.id ,
												school_id  : this.school_id,
												name       : this.nomgrupo,
												start_cycle: this.dateFrom,
												end_cycle  : this.dateTo,
												active     : true
											}

				this.$http.put('groups/'+ this.group_id, group).then((response)=>{
					this.UpdateStudens(response.body.id)
				})

				
			},

			UpdateStudens(id){
				this.$http.post('students/'+ this.group_id , this.alumnos).then((response)=>{
					setTimeout(() => (this.snackbar = true), 3000)
					this.text = response.body
					setTimeout(() => (this.$router.push({ name: 'catgrupos'})), 4000)
				})	
			},

			

			// FUNCIONES INTERNAS
			agregarAlumno(){
				this.alumnos.push({ name:					   this.name,
														paternal: 			 this.paternal,
														maternal: 			 this.maternal,
														age: 					   this.age,
														dad_name: 			 this.dad_name,
														mom_name: 			 this.nommadre,
														phone   : 			 this.tel_contacto,
														emergency_phone: this.emergency_phone
													})
				this.LimpiarCampos()								
			},

			rellenar(item,modo){
				this.alumnoAEditar = item;
				this.name 					 = item.name
				this.paternal 			 = item.paternal
				this.maternal 			 = item.maternal
				this.age		 				 = item.age
				this.dad_name 			 = item.dad_name
				this.mom_name 			 = item.mom_name
				this.phone 					 = item.phone
				this.emergency_phone = item.emergency_phone
				this.modo 				   = modo
			},

			editar(){
				for(let i=0; i<this.alumnos.length;i++){
					if(this.alumnoAEditar.name === this.alumnos[i].name){
						this.alumnos[i].name 				    = this.name 
						this.alumnos[i].paternal 			  = this.paternal 
						this.alumnos[i].maternal 			  = this.maternal 
						this.alumnos[i].age 					  = this.age		 
						this.alumnos[i].dad_name 			  = this.dad_name 
						this.alumnos[i].mom_name 			  = this.mom_name 
						this.alumnos[i].phone 	 			  = this.phone 
						this.alumnos[i].emergency_phone = this.emergency_phone 

						this.snackbar = true, this.text = "El alumno se edito correctamente"
					}
				}
			},

			eliminar(item, modo){
				for(let i=0; i<this.alumnos.length; i++){
					if(item.name === this.alumnos[i].name ){
						this.alumnos.splice( i, 1 );
					}
				}
			},

			LimpiarCampos(){
				this.modo = 1
				this.name =''
				this.peternal = ''
				this.maternal = ''
				this.age = ''
				this.dad_name = ''
				this.mom_name = ''
				this.phone = ''
				this.emergency_phone = ''
			},

			getSchoools(){
				var me = this
				this.$http.get('schools').then((res)=>{
					res.body.forEach(function(element) {
						me.School.push(element.name)
						me.Schools.push(element)
					})
				})
			},

		
		}
	}
</script>